version: '3.9'

services:
  db:
    image: mariadb:11
    restart: always
    environment:
      MYSQL_DATABASE: newsappdb
      MYSQL_USER: admin
      MYSQL_PASSWORD: @Sapd71236147
      MYSQL_ROOT_PASSWORD: rootpasschangeit
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    environment:
      DJANGO_SECRET_KEY: your-secret-key
      DJANGO_DEBUG: 'True'
      DB_NAME: newsappdb
      DB_USER: admin
      DB_PASSWORD: @Sapd71236147
      DB_HOST: db           # IMPORTANT: matches service name above!
      DB_PORT: 3306
    depends_on:
      - db

volumes:
  db_data:
